/* styling */

/* classes */
:root {
  --blue: #4982B8;
  --green: #acb736;
  --gray: #F0F0F0;
  --red: #B82D25;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
  }
.container{ 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main, .footer{
width: 50vw;
text-align: center;
}

/* logo styling */
.fas{
  color: var(--blue);
}
body{ 
  background-color: white;
}
.logo{
  margin: 50px;
  padding: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    font-weight: bolder;
}

/* table styling */

table{
  width: 100%;
}
table, td{
 
  border-collapse: collapse;
}
th, td{
  height: 50px;
}
td{
  padding: 5px;
  text-align: center;
  width: 20%;
}
th{
  border-bottom: 1px solid;
  border-top: 1px solid;
  text-align: center;
  font-weight: bolder;
  }
  
  tbody tr:nth-child(odd) {    
  background-color: white;
}
  tbody tr:nth-child(odd) {
    background-color: var(--gray);
  }

/* buttons styling*/
.btn{
  border: none;
  color: white;
  width: 80%;
  height: 100%;
  padding: 10px;  
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 50%;
}
.btn-unread{
  background-color: var(--gray);
  border: 1px solid;
  color: black;
}
.btn-read{
  background-color: var(--blue);
}
.delete{
  display:flex;
  justify-content: center;
  align-self: center;
  font-size:16px;
  color: var(--red);
}
#submit{
  border-radius:8px;
  background-color: var(--blue);
}

/* form styling */
.form{
  display: flex;
}
.form-control{
  width: 100%;
}
input{
  width: 100%;
  margin: 5px;
}
.switch {
  display: block;
  position: relative;
  left: 20%;
  transform: translateX(-50%);
  padding-left: 35px;
  margin: 12px 0 12px 0;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Checkbox styling */
/* Hide the browser's default checkbox */
.switch input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.switch:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.switch input:checked ~ .checkmark {
  background-color: var(--blue);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.switch input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.switch .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* UI alerts */
.alert-success, .alert-danger{
  color: white;
  font-size: 1.5em;
  padding: 10px;
  width: 50%;
  text-align: center;
}
.alert-success{
  background-color: var(--green);

}
.alert-danger{
  background-color: var(--red);
}
